.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
pmconfig
proxymngr
proxymngr.1
stamp-h1
xconfig.h
xconfig.h.in
*~
*.o
proxymngr-*.tar.*
ChangeLog
tags
